!src

.idea/
*.sln


desktop.ini


/cmake-build-release/CMakeFiles/3.30.5/CompilerIdC/a.exe
/cmake-build-release/CMakeFiles/3.30.5/CompilerIdCXX/a.exe
/cmake-build-release/CMakeFiles/Lang.dir/build.make
/cmake-build-release/.cmake/api/v1/query/cache-v2
/cmake-build-release/.cmake/api/v1/reply/cache-v2-5252b48255fc2f65e845.json
/cmake-build-release/CMakeFiles/clion-environment.txt
/cmake-build-release/CMakeFiles/clion-Release-log.txt
/cmake-build-release/CMakeFiles/cmake.check_cache
/cmake-build-release/CMakeFiles/Lang.dir/cmake_clean.cmake
/cmake-build-release/cmake_install.cmake
/cmake-build-release/CMakeCache.txt
/cmake-build-release/CMakeFiles/3.30.5/CMakeCCompiler.cmake
/cmake-build-release/CMakeFiles/3.30.5/CompilerIdC/CMakeCCompilerId.c
/cmake-build-release/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-release/CMakeFiles/3.30.5/CMakeCXXCompiler.cmake
/cmake-build-release/CMakeFiles/3.30.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-release/CMakeFiles/3.30.5/CMakeDetermineCompilerABI_C.bin
/cmake-build-release/CMakeFiles/3.30.5/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-release/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-release/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-release/CMakeFiles/3.30.5/CMakeRCCompiler.cmake
/cmake-build-release/CMakeFiles/3.30.5/CMakeSystem.cmake
/cmake-build-release/.cmake/api/v1/query/codemodel-v2
/cmake-build-release/CMakeFiles/Lang.dir/compiler_depend.internal
/cmake-build-release/CMakeFiles/Lang.dir/compiler_depend.make
/cmake-build-release/CMakeFiles/Lang.dir/compiler_depend.ts
/cmake-build-release/CMakeFiles/Lang.dir/src/foundation/cpp_additions.cpp.obj
/cmake-build-release/CMakeFiles/Lang.dir/src/foundation/cpp_additions.cpp.obj.d
/cmake-build-release/CMakeFiles/Lang.dir/depend.make
/cmake-build-release/CMakeFiles/Lang.dir/DependInfo.cmake
/cmake-build-release/.cmake/api/v1/reply/directory-.-Release-d0094a50bb2071803777.json
/cmake-build-release/CMakeFiles/Lang.dir/flags.make
/cmake-build-release/CMakeFiles/Lang.dir/src/framework/get_index.cpp.obj
/cmake-build-release/CMakeFiles/Lang.dir/src/foundation/get_index.cpp.obj.d
/cmake-build-release/CMakeFiles/Lang.dir/src/framework/get_index.cpp.obj.d
/cmake-build-release/CMakeFiles/Lang.dir/includes_CXX.rsp
/cmake-build-release/CMakeFiles/Lang.dir/src/framework/init.cpp.obj
/cmake-build-release/CMakeFiles/Lang.dir/src/framework/init.cpp.obj.d
/cmake-build-release/CMakeFiles/Lang.dir/src/framework/instruction_finder.cpp.obj
/cmake-build-release/CMakeFiles/Lang.dir/src/framework/instruction_finder.cpp.obj.d
/cmake-build-release/Lang.exe
/cmake-build-release/Testing/Temporary/LastTest.log
/cmake-build-release/CMakeFiles/Lang.dir/link.txt
/cmake-build-release/CMakeFiles/Lang.dir/linkLibs.rsp
/cmake-build-release/CMakeFiles/Lang.dir/src/main.cpp.obj
/cmake-build-release/CMakeFiles/Lang.dir/src/main.cpp.obj.d
/cmake-build-release/Makefile
/cmake-build-release/CMakeFiles/Makefile.cmake
/cmake-build-release/CMakeFiles/Makefile2
/cmake-build-release/CMakeFiles/Lang.dir/objects.a
/cmake-build-release/CMakeFiles/Lang.dir/objects1.rsp
/cmake-build-release/CMakeFiles/Lang.dir/src/summary/program.cpp.obj
/cmake-build-release/CMakeFiles/Lang.dir/src/summary/program.cpp.obj.d
/cmake-build-release/CMakeFiles/Lang.dir/progress.make
/cmake-build-release/CMakeFiles/progress.marks
/cmake-build-release/CMakeFiles/Lang.dir/src/framework/syntax.cpp.obj
/cmake-build-release/CMakeFiles/Lang.dir/src/framework/syntax.cpp.obj.d
/cmake-build-release/CMakeFiles/TargetDirectories.txt
/cmake-build-release/.cmake/api/v1/query/toolchains-v1
/cmake-build-release/.cmake/api/v1/reply/toolchains-v1-8222d39e5a1a033d9bb7.json
/cmake-build-release/CMakeFiles/Lang.dir/src/tests/unit_test.cpp.obj
/cmake-build-release/CMakeFiles/Lang.dir/src/foundation/unit_test.cpp.obj.d
/cmake-build-release/CMakeFiles/Lang.dir/src/tests/unit_test.cpp.obj.d
